body {
  font: 15px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 8px;
  padding: 50px;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

.icon {
  margin: 0;
}

h1 {
  /* margin-top: 58px; */
  font-size: 28px;
  color: #222;
}

h2 {
  color: #393939;
}

p {
  color: #727272;
  margin-bottom: 0 0 20px;
}

a {
  color: #267cb9;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

strong {
  color: #222;
}

ul {
  margin-bottom: 0 0 20px;
}
li {
  color: #727272;
}

.box-1 {
  width: 270px;
  float: left;
  position: fixed;
}

.box-2 {
  width: 500px;
  float: right;
}

@media only screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media only screen and (max-width: 720) {
  body {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 960px) {
  .wrapper {
    width: auto;
    margin: 0;
  }
  .box-1 {
    float: none;
    position: static;
    width: auto;
  }

  .box-2 {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
  }

  .box-1,
  .box-2 {
    float: none;
    position: static;
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .box-2 {
    width: 520px;
  }
}
